
<div *ngIf="recipe">
    <h2><span jhiTranslate="przepisnikApp.recipe.detail.title">Recipe</span> {{recipe.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="przepisnikApp.recipe.title">Title</span></dt>
        <dd>
            <span>{{recipe.title}}</span>
        </dd>
        <dt><span jhiTranslate="przepisnikApp.recipe.description">Description</span></dt>
        <dd>
            <span>{{recipe.description}}</span>
        </dd>
        <dt><span jhiTranslate="przepisnikApp.recipe.extra">Extra</span></dt>
        <dd>
            <span>{{recipe.extra}}</span>
        </dd>
        <dt><span jhiTranslate="przepisnikApp.recipe.image">Image</span></dt>
        <dd>
            <div *ngIf="recipe.image">
                <a (click)="openFile(recipe.imageContentType, recipe.image)">
                    <img [src]="'data:' + recipe.imageContentType + ';base64,' + recipe.image" style="max-width: 100%;" alt="recipe image"/>
                </a>
                {{recipe.imageContentType}}, {{byteSize(recipe.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="przepisnikApp.recipe.rating">Rating</span></dt>
        <dd>
            <span jhiTranslate="{{'przepisnikApp.Rating.' + recipe.rating}}">{{recipe.rating}}</span>
        </dd>
        <dt><span jhiTranslate="przepisnikApp.recipe.category">Category</span></dt>
        <dd>
            <span *ngFor="let category of recipe.categories; let last = last">
                <a [routerLink]="['/category', category?.id ]">{{category.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'recipe/'+ recipe.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
